[submodule "apps/kam-nav"]
	path = apps/kam-nav
	url = git@github.com:OpenBEL/kam-nav.git
	branch = experimental
[submodule "apps/model-builder"]
	path = apps/model-builder
	url = git@github.com:Selventa/model-builder.git
	branch = experimental
[submodule "tools/samskivert"]
	path = tools/samskivert
	url = git@github.com:abargnesi/samskivert.git
    branch = master
[submodule "tools/s3cmd"]
	path = tools/s3cmd
	url = https://github.com/s3tools/s3cmd.git
    branch = master
[submodule "tools/getdown"]
	path = tools/getdown
	url = https://github.com/abargnesi/getdown.git
	branch = master
